.App {
  text-align: center;
  background:  #000000 !important;
  




}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-image: url("front.png");

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {

  background: #000000 !important;

}


.container-fluid {

  background: #000000;
  align-items: center;
  margin: 0;
  padding: 0;


  
}
img {


 width: 100%;

 height: 100%;


}


.container2 {

  background: #000000;

  min-width: 200vh;
  min-height: 100vh;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container3 {

  background: #000000;

  min-width: 200vh;
  min-height: 100vh;
  background-image: url('./b3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

background-image {

  width: 100vh,
  height 100vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
.btn {
  position: absolute;
  top: 90%;
  left: 10%;
  font-family: 'Source Code Pro', monospace;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 26px;
  padding: 12px 44px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

@media only screen and (max-width: 2600px) {

.logo {
 background: #000000 !important;



}
}




@media only screen and (max-width: 600px) {
  body {
 background: #000000;

  }
  .btn {
    position: absolute;
    top: 90%;
    left: 30%;
  }

  
.logo {
  font-family: 'Anton', sans-serif;
  color: #FFFFFF;


  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;





}


}

